body {
    background-color: rgb(243, 218, 241);
}

a {
    color: rgb(4, 114, 158);
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}
#container {
    width: 800px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
nav {
    text-align: center;
    color: rgb(244, 239, 246);
    text-decoration: none;
    border-bottom: 2px solid rgb(157, 128, 164);
    padding-bottom: 10px;
    display: block;
    margin-bottom: 20px;
}
nav a {
    color: rgb(232, 220, 230);
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
img {
    display: block;
    margin: auto;
    width: 55%;
    height: 25%;
}
header {
    text-align: center;
    font-size: 25px;
    color: rgb(220, 179, 232);
}